<html>
  <head>
    <title>Подключение CSS к HTML</title>
  </head>
  <body>
    <h1>Это заголовок первого уровня</h1>
    Здесь просто текст
    <h2>Это заголовок второго уровня</h2>
    Здесь просто текст
  </body>
</html>         
    